@import "./component/_text.scss";
@import "./component/_ui.scss";


.header{
    padding: 0 calc(50% - 670px);
    margin-left: 20px;
    margin-right: 20px;
    min-height: 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    flex-basis: 426px;
    display: flex;
    justify-content: space-between;
}

.nav__item-active{
    position: relative;
    h3{
        &::after{
            content: '';
            width: 80%;
            height: 3px;
            background: #FD749B;
            border-radius: 5px;
            position: absolute;
            bottom: -5px;
            left: 10%;
        }
    }
}

.header-action-list{
    flex-basis: 355px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.action-selector{
    img{
        margin-left: 4px;
        margin-top: 10px;
    }
}

.section{
    padding: 0 calc(50% - 580px);
}
    
.get-started{
    display: flex;
    justify-content: center;
    gap: 11vw;
    min-height: 866px;
    background: url(../img/wave.svg),
                linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
    background-repeat:no-repeat, no-repeat ;
    background-position: center bottom -3vw, center center;

    background-size: contain, cover;
    color: #fff;
    text-align: left;
    h1{
        margin-top: 142px;
        margin-bottom: 21px;
        text-align: left;

    }
    p{
        margin-bottom: 30px;
        text-align: left;
    }
    img{
        margin-top: -70px;
    }
    
}
.get-started__item{
    flex: 0 0 50%;
}
.wellcome,.experience{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    button {
        margin-top: 35px;
    }
}
.welcome{
    margin-bottom: -50px;
}
.wellcome__item{
    flex: 0 0 50%;
}
.experience{
    margin-top: -50px;
    margin-bottom: 116px;
    h2{
        max-width: 350px;
    }
}
.tablo{
    background-image: url(../img/tablo-top-wave-bg.svg),
                    url(../img/tablo-bottom-wave-bg.svg),
                    linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
    background-repeat: no-repeat;
    background-position: center top -150px, center bottom -50px, center center;
    background-size: contain, contain, contain;
    padding-top: 23vw;
    padding-bottom: 20vw; 
}
.tablo-content{
    max-width: 1158px;
    height: 367px;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;  

}
.trade {
    padding-top: 121px;
    background-image: url(../img/trade-BG.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-bottom: 7vw;

}
.treade-content {
    margin: 0 auto;
    padding-top: 74px;
    max-width: 980px;
    height: 504px;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.trade-title {
}

.trade-card-list {
    display: flex;
    justify-content: center;
    gap: 63px;
}

.trade-card{
    width: 262px;
    height: 226px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .trade-card__txt{
        margin-top: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #333333;
    }
}
.blog{
   margin-top: 142px; 
}
.blog-title{
    margin-bottom: 50px;
}
.blog-content{
    position: relative;
}
.post{
    width: 465px;
    height: 358px;
    padding: 44px 59px 40px;
    margin-left: 0;
    margin: 0 auto;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @extend %unicorn-text;
    h2{
        font-weight: 700;
        font-size: 24px;
        line-height: 39px;
    }
    p{
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        text-align: left;
    }
    span{
        margin: 0 5px;
        &:first-child{
            position: relative;
            &::after{
                content: '';
                width: 1px;
                height: 15px;
                margin: 0 5px;
                background-color: #333333;
                position: absolute;
                right: -12px;
                top: 2px;
            }
        }
    }
}

.post-prev, .post-next{
    width: 370px;
    height: 286px;
    z-index: -1;
    padding: 47px 45px 28px;
    border: 1px solid #888888;
    color: #888888;
    p{
        padding-top: 12px;
        font-size: 10px;
        line-height: 18px; 
        text-align: left; 
    }
    h2{
        margin-top: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #888888; 
    }
    .button{
        margin-top: 15px;
        background: #888888;
        width: 105px;
        height: 36px;
        font-weight: 700;
        font-size: 9px;
        line-height: 14px;
        padding: 0;
    }
    span{
        font-size: 10px;
        line-height: 20px;
        margin: 0 5px;
        &:first-child{
            position: relative;
            &::after{
                content: '';
                width: 1px;
                height: 12px;
                margin: 0 5px;
                background-color: #888;
                position: absolute;
                right: -12px;
                top: 2px;
            }
        }
    }
}
.post-next{
    position: absolute;
    right: calc(50% - 530px);
    bottom: 36px;
}
.post-prev{
    position: absolute;
    left: calc(50% - 530px);
    bottom: 36px;
}


.tablo-table {
    display: flex;
    justify-content: space-between;
    height: 367px;
    padding: 30px;
}
.table {
    flex: 0 0 33.33%;
    h2{
        text-align: center;
    }
    &:first-child h2{
        text-align: left;
    }
    &:last-child h2{
        text-align: right;
    }

}
.table-title{
    border-bottom: 1px solid #888888;
    margin-left: 0;
    height: 41px;
    h2{
        margin-bottom: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
.table-user-rates {
}
.tablo-title {
}
.table-user{
    padding-top: 50px;
    margin-right: 50px;



}
.table-user-rates__content {
}
.rates {

}
.table-user-reserves {
}
.table-user-reserves__content {
}
.reserves {
}
.reserves__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    div:nth-child(2){
        margin-right: auto;
    };
    div:nth-child(1){
        margin-right: 16px;
    }

}
.reserves__item-usd{
    flex-wrap: wrap;
    div:last-child{
        margin-top: 10px;
        margin-left: auto;
        margin-right: 16px;
    }

}
.table-user-exchanges {
}
.table-user-exchanges__content {
}
.exchanges {
}
.table-user-rates__content {
}
.rates {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 65px;
    
}
.rates__BTC {
}
.rates__ETH {
}
.rates__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;
}
.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: 28px;
        width: 28px;
    }
    span{
        margin: 0 16px;
    }
}
.transfer {
    p{
        em{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #333333;
        }
    }
}

.exchanges{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 240px;
    margin-top: 30px;
    margin-right: 0;
    overflow-y: scroll;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #333333;
    text-align: right;
    // скролл****
    scrollbar-color: #FD749B #E5E5E5;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 5px;              
        margin-top: 20px;
      }
    &::-webkit-scrollbar-track {
        background: #E5E5E5;;      
      }
    &::-webkit-scrollbar-thumb {
        background-color: #FD749B;   
        border: 1px solid #E5E5E5;
      }
    .button{
       align-self: center;
       margin: 12px;
       width: 85px;
       height: 25px; 
       font-weight: 700;
       font-size: 8px;
       padding: 8px 0;
       line-height: 8px;
    } 
    .exchanges__content{
        margin-right: 30px;
        img{
            margin: 9px;
        }
        img:nth-child(2){
            position: relative;
            bottom: 3px;
        }
        img:nth-child(3){
            transform: rotate(180deg);
            position: relative;
            top: 3px;
            right: 36px;
        }
    }
    .exchanges__content-separator{
        width: 220px;
        border-bottom: 1px solid #888888;
        margin-bottom: 13px;
        margin-top: 29px;
    }
    .exchanges__content-text{
        padding-right: 40%;
        align-self: flex-start;
        text-align: left;
        margin-bottom: 35px;
        

    } 
    .exchanges__content-trans{
        align-self: flex-start;
        text-align: left;
        margin-right: 0;
    }

}

.subscribe-content{
    margin-top: 102px;
    margin-bottom: 91px;
    p{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

}
.input{
    height: 54px;
    width: 388px;
    padding: 0 16px;
    margin-right: 9px;
}
.review{
    background-image: url(../img/review-top-wave-bg.svg),
    url(../img/review-bottom-wave-bg.svg),
    linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
    background-repeat: no-repeat;
    background-position: center top -100px, center bottom -100px, center center;
    background-size: contain, contain, contain;
    padding-top: 4vw;
    padding-bottom: 15vw; 
    img{
        height: 100%;
        width: 100%;
    }
}
.download{
    min-height: 866px;
    background: url(../img/download-top-wave-bg.svg),
                linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%,);
    background-repeat:no-repeat, no-repeat ;
    background-position: center top -80px, center center;
    background-size: contain, cover;
    margin-bottom: 190px;

}
.store, .phone-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 80px auto;
}

.phone-preview{
    margin: 0px auto;
    margin-top: -190px;
}
.phone-preview__item {
    position: relative;
    top: 190px;
    margin: 5px;
    img{
        height: 100%;
        width: 100%;
    }

}
.foter{
    min-height: 351px;
    background-color: #151515;
}