@import "bp-1400px";
@import "bp-1050px";
@import "bp-850px";
@import "bp-720px";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
footer {
    margin-top: auto;
}
