body{
    font-family: 'Poppins';
    font-style: normal;
    color: #333333;
    a:link {
        color: #333333;

      }
    a:visited {
        color: #333333;
      }
}
h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
     
}
h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 65px;
}
h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;   
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center; 
}