.button {
    width: 157px;
    height: 54px;
    color: #FFF;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    border-radius: 100px;
    padding: 17px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
        
}
.button-white {
    background: #FFFFFF;
    color: #000;
    mix-blend-mode: screen;
}
.text-left-ribon{
    h2{
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 50px;
            height: 3px;
            border-radius: 5px;
            background-color: #FD749B;
            bottom: 0;
            left: 4px;

        }
    }
}
.type1-img{
}

.type1-txt{
    margin-left: 44px;
    text-align: left;
    h2{
        background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 74px;
        
    }
    p{
        text-align: left; 
    }
}
